
'Basic Class Program

Imports System.Windows.Forms    'Demonstrating the Pizza Class
Public Class PizzaTest

    Module PizzaTest    
        Sub Main()
            Dim myPizza As New Pizza
            MessageBox.Show(myPizza.TakeSlice(), "Pizza")   'Take Slices message
            MessageBox.Show(myPizza.GetSlices() & " left", "Pizza") 'Get Slices message
        End Sub
    End Module

End Class

Public Class Pizza      ' Represents a Pizza
    Private Slices As Integer

    Public Sub New() ' Constructor
        Slices = 8
    End Sub

    Public Function TakeSlice() As Boolean  'using Boolean logic to prove number of slices
        If Slices > 0 Then
        End If
    End Function

    Public Function GetSlices() As Integer ' This returns number of slices of Pizza left
        Return (Slices)         'Amount of slices returned is shown on screen
    End Function
End Class


'Overloading Program

Public Sub New(ByVal Serves As Integer) ' Calling by values with as an integer
        Slices = Serves 'Serving slices of Pizza left over
    End Sub
    
Dim ManyPizza(10) As Pizza	‘Integer of 10 Pizzas
For p As Integer = 0 To 10 ‘Array of 10 Pizzas
    ManyPizza(p) = New Pizza()
Next p
